

div#flex {
  font-size: 0;
  > * {
    font-size: initial;
  }
}

.section {
  padding: 80px 0;
  &.small {
    padding: 20px 0;
  }
}


.blue-chevron-faded {
  position: relative;
  &:after {
    content: '';
    background-image: url(images/blue-strip-2.svg);
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    bottom: -5px;
    background-size: cover;
    background-position: center;
    z-index: 0;

    @media screen and (max-width: $breakpoint-tablet) {
      background-position: 55% 50%;
    }
    @media screen and (max-width: $breakpoint-small-tablet) {
      background-position: 0px 155px !important;
      background-repeat: no-repeat;
    }
  }
}


a.blue-arrow,
section.login-form form#loginform p.login-submit {
  position: relative;
  z-index: 3;
  color: #fff;
  font-size: 1.65em;
  text-transform: uppercase;
  margin: 60px auto 0;
  padding: 20px 20px 0px 20px;
  min-width: 420px;
  border-bottom: 0;
  text-align: center;
  font-weight: bold;
  display: block;
  max-width: 600px;


  @media screen and (max-width: $breakpoint-phone){
    padding: 12px 0 0 0;
  }

  &:after {
    content: '';
    background-image: url(images/blue-arrow.svg);
    padding-top: 21%;
    display: block;
    width: calc(100% + 40px);
    margin: 0 -20px;
    position: relative;
    right: 0px;
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: -1;
    min-height: 35px;
    margin-top: -10%;

    @media screen and (max-width: $breakpoint-phone){
      padding-top: 22%;
    }
  }
  &:before {
    content: '';
    display: block;
    background-color: $color_dark_blue;
    width: 100%;
    position: absolute;
    height: 50px;
    top: 0;
    left: 0;
    z-index: -1;
  }
}



footer#colophon .site-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color:white;
}
@media screen and (max-width: $breakpoint-small-desktop){
  footer#colophon .site-info {
    flex-direction: column;
    text-align: center;
  }

  footer#colophon .site-info span:first-child {
    margin-bottom: 20px;
  }
}
/*--------------------------------------------------------------
## Form header
--------------------------------------------------------------*/
@import "form-header";

/*--------------------------------------------------------------
## Split-Chevron
--------------------------------------------------------------*/
@import "split-chevron";

/*--------------------------------------------------------------
## Jobs
--------------------------------------------------------------*/
@import "jobs";

/*--------------------------------------------------------------
## Page Header
--------------------------------------------------------------*/
@import "page-header";

/*--------------------------------------------------------------
## Form Shelf
--------------------------------------------------------------*/
@import "form-shelf";

/*--------------------------------------------------------------
## Forms
--------------------------------------------------------------*/
@import "forms";

/*--------------------------------------------------------------
## Click state
--------------------------------------------------------------*/
@import "click-state";

/*--------------------------------------------------------------
## Company Slider
--------------------------------------------------------------*/
@import "company-slider";

/*--------------------------------------------------------------
## State Page
--------------------------------------------------------------*/
@import "state-page";

/*--------------------------------------------------------------
## Company Profile
--------------------------------------------------------------*/
@import "company-profile";

/*--------------------------------------------------------------
## Content
--------------------------------------------------------------*/
@import "content";

/*--------------------------------------------------------------
## Tables
--------------------------------------------------------------*/
@import "tables";

/*--------------------------------------------------------------
## Account
--------------------------------------------------------------*/
@import "account/_account";





/*===================================
Dont show over 980px - Menu Styles here
===================================*/

@media (min-width: $breakpoint-tablet) {

}



.testimonials-wrapper.with-banner .testimonial-content {width: 630px;}


/*===================================
  Media Queries
===================================*/


@media (max-width: 1700px) {
  .grid-container {
    max-width:1440px;
  }
}


@media (max-width: $breakpoint-desktop) {
  .grid-container {
    max-width:1150px;
  }
}


@media (max-width: 1400px) and (min-width: 980px) {

}
@media (max-width: $breakpoint-small-desktop) {
  .grid-container {
    max-width:940px;
  }

}


@media (min-width: $breakpoint-tablet) {
  .grid-container.mobile {
    max-width: 100%;
  }
}
@media (max-width: $breakpoint-tablet) {
  .grid-container.desktop {
    max-width: 100%;
  }
  .grid-container {
    max-width:750px;
  }

  span.hide-mobile {
    display: none;
  }

}


@media (max-width: $breakpoint-small-tablet) {
  .grid-container {
    max-width:450px;
  }

}



@media (max-width: $breakpoint-phone) {
  .grid-container {
    max-width: 280px;
  }
}

