.page-header {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 0;
  }
  > div {

    position: relative;
    z-index: 1;
  }
  .page.heading {
    color: #03243b;
    font-style: italic;
    font-family: 'Droid Serif', sans-serif;
    font-weight: bolder;
    margin: 0;
    font-size: 2.4em;
    padding: 50px 0;

    @media screen and (max-width: $breakpoint-small-desktop) {
    padding: 25px 0;
    font-size: 2em;
    }
    @media screen and (max-width: $breakpoint-small-tablet) {
      font-size: 1.5em;
      margin: 0;
      line-height: 1.2;
    }
  }
}
