[class*="split-content"] {
  @include j-column(1/2);

  @media screen and (max-width: $breakpoint-tablet) {
    @include j-column(1);
  }
}

.split-content-right {
  float: right;
  margin-right: 0;
}


.split-chevron {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: $breakpoint-tablet) {
    background-position: center top;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  .grid-container {
    position: relative;
    z-index: 1;
  }


  &:after {
    content: '';
    background-image: url(images/Blue-Chev.svg);
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    bottom: -5px;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: $breakpoint-tablet) {
      background-image: url(images/Blue-Chev-Side.svg);
      background-position: 50% 10%;
      background-repeat: no-repeat;
    }
    //@media screen and (max-width: $breakpoint-small-tablet) {
    //background-position: 50% 52%;
    //}
    //@media screen and (max-width: $breakpoint-phone) {
    //  background-position: 50% 58%;
    //}

  }
  .heading {
    margin: 20px 0;
    text-align: center;
    font-size: 2em;
    padding-bottom: 35px;

    @media screen and (max-width: $breakpoint-large-desktop) {
      padding-bottom: 10px;
    }
  }

  [class*="split-content"] {
    color: #fff;
    position: relative;
    padding: 100px 20px;
    @media screen and (max-width: $breakpoint-large-desktop) {
      padding: 80px 20px 70px;
    }
    @media screen and (max-width: $breakpoint-tablet) {

      margin-top: 220px;
      padding: 10px 20px 50px;
    }
  }
}



