//Site Colors
$color_blue: #00497f;
//$color_dark_blue: #003156;
$color_dark_blue: #02233A;
$color_light_blue: #abbac5;
$color_bright_gold: #ffb600;
$color_orange: #F4911D;
$color_gold: #e29c00;
$color_gray: #969697;
$color_light_gray: #F9F9FA;
$color_red: #C02026;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
