$size__site-main: 100%;
$size__site-sidebar: 25%;
$max-width: 1680px;
$sm-max-width: 1440px;

$breakpoint-phone: 500px;
$breakpoint-small-tablet: 768px;
$breakpoint-tablet: 960px;
$breakpoint-small-desktop: 1200px;
$breakpoint-desktop: 1500px;
$breakpoint-large-desktop: 1700px;
