.pagination {
  padding:20px 0;
  line-height:13px;
  margin:auto;
  &:after{
    @include clearfix;
    @include clearfix-after;
  }
  span, a {
    display:block;
    float:left;
    margin: 4px;
    padding: 10px 12px;
    border-radius: 5px;
    text-decoration:none;
    width:auto;
    color:$color_blue;
    background: darken($color_light_gray, 10%);
  }
  a:hover{
    color:#fff;
    background: $color_dark_blue;
  }
  .current{
    background: $color_blue;
    color:#fff;
  }
}